dt {font-size: 25pt; margin-top: 10px;} 
dd{margin-top: 5px; margin-left: 20px;}
dd>a{font-size: 20pt; cursor: pointer;}
.more {margin-right: 10px; cursor: pointer;}
dd>a:hover, .more:hover{color:#3498db;}
 