
.star-rating { width:161px; }
.star-rating,.star-rating span { display:inline-block; height:32px; overflow:hidden;
background:url(/www/resources/img/star.png)no-repeat; }
.star-rating span{ background-position:left bottom; line-height:0; vertical-align:top;
background-position-y: -32px}

.star-rating1 { width:109px; }
.star-rating1,.star-rating1 span { display:inline-block; height:22px; overflow:hidden;
background:url(/www/resources/img/star1.png)no-repeat; }
.star-rating1 span{ background-position:left bottom; line-height:0; vertical-align:top;
background-position-y: -21px}

.rvlb {
	font-size: 12pt;
	text-align: center !important;
}

.rvval {
	font-size: 12pt;
}
td, th {
	padding: 12px;
}
.rr {
	padding: 12px;
}

.test {
	width: 100%;
	height: 500px;
	display:block;
	background-image:url(/www/img/banner.png);
	background-position:center center;
	background-repeat:no-repeat;
}

.goods {
	display: flex;
	align-items: center;
}

.qna {
	padding: 10px 0px 10px 0px;
}

.qnabody {
	padding: 20px 30px 20px 30px;
}

.bar {
	margin: 0px 20px 0px 20px;
	height:1px;
	background-color: gray;
}

.box50 {
	display: inline-block;
	width: 500px;
}

.abody {
	padding: 0px 0px 10px 40px;
}

.search {
	height:45px;
	width: 600px;
}

.schbtn {
	hegith: 45px;
}

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
        
        body{
	margin:0;
	padding:0;
}
/* .container{
	width:90%
	margin:10px auto;
} */
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}
        
        
.arrow{
	padding: 8xp, 12px;
}